body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: "iconfont"; /* Project id 4461567 */
  src: url('./icons/iconfont.woff2') format('woff2'),
       url('./icons/iconfont.woff') format('woff');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chahao:before {
  content: "\e671";
}

.icon-yuandian:before {
  content: "\e683";
}

.icon-daoru-tianchong:before {
  content: "\e63b";
}

.icon-xinjianpushu:before {
  content: "\e607";
}

.icon-markdown:before {
  content: "\e663";
}

.icon-guanbi:before {
  content: "\e602";
}

.icon-sousuo:before {
  content: "\e87e";
}